<div class="container">
  <!-- speakerS LIST -->
  <div class="col-50">
    <mat-card>
      <mat-card-header>
        <mat-card-title class="m-0">
          <h1 class="m-0">speakers</h1>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-list>
          <mat-list-item (click)="selectSpeaker(speaker)"
            *ngFor="let speaker of speakers$ | async">
            <h3 [style.color]="primaryColor"  mat-line>
              {{speaker.first_name}}
            </h3>
            <p mat-line>
              {{speaker.last_name}}
            </p>
            <button mat-icon-button
              (click)="deleteSpeaker(speaker)">
              <mat-icon>close</mat-icon>
            </button>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </div>
  <!-- speaker DETAILS -->
  <div class="col-50">
    <mat-card>
      <mat-card-header>
        <mat-card-title class="m-0">
          <h1 class="m-0">
            <span *ngIf="selectedSpeaker.id; else elseBlock">{{selectedSpeaker.first_name}}</span>
            <ng-template #elseBlock>Select a speaker</ng-template>
          </h1>
        </mat-card-title>
      </mat-card-header>
      <form (submit)="saveSpeaker(selectedSpeaker)">

        <mat-card-content>
          <mat-form-field class="full-width">
            <input matInput placeholder="Title" [(ngModel)]="selectedSpeaker.first_name" type="text" name="title">
          </mat-form-field>
          <mat-form-field class="full-width">
            <input matInput placeholder="Details" [(ngModel)]="selectedSpeaker.last_name" type="text" name="details">
          </mat-form-field>

        </mat-card-content>
        <mat-card-actions>
          <button type="submit" mat-button color="primary">Save</button>
          <button type="button" mat-button (click)="cancel()">Cancel</button>
        </mat-card-actions>
      </form>
    </mat-card>
  </div>
</div>