@import 'libs/theme/main';

.embed-responsive.embed-responsive-16by9:nth-child(1) {
  display: none !important;
}

.back-arrow {
  position: inherit;
  // margin: 10px 0 10px 5px;
}

.mat-standard-chip {
  min-height: 30px;
}

mat-card-title {
  line-height: 1.5;
}

mat-divider {
  border-top-color: $text-base;
}
