<div *ngIf="sermon$ | async as sermon"> {{sermon | json}}
  <button mat-icon-button (click)="goBack()" class="back-arrow-container">
    <mat-icon class="back-arrow" color="accent">arrow_back</mat-icon>
  </button>

  <div class="container-fluid">
    <div class="d-flex justify-content-center">
      <iframe
        [src]=""
        width="100%"
        height="625"
        frameborder="0"
        [title]="sermon.title"
        webkitallowfullscreen
        mozallowfullscreen
        allowfullscreen>
      </iframe>
    </div>
  </div>

  <div class="container">
    <div class="d-flex flex-column align-items-start">
      <mat-card-title class="primary-text mt-1">
        {{sermon.title}}
      </mat-card-title>
    </div>
  </div>

  <div class="container">
    <div class="d-flex justify-content-between">
      <div class="align-self-center">
        <mat-card-subtitle class="d-flex justify-content-between fs-20 m-0 base-text mb-2">

          <span *ngFor="let speaker of sermon.sermon_speakers">
            {{speaker.speaker.first_name}} {{speaker.speaker.last_name}}
          </span>

          <span class="font-weight-lighter">&nbsp;|&nbsp;</span> {{sermon.date | date: 'MMM dd, yyyy'}}
        </mat-card-subtitle>
      </div>

      <div class="align-self-end base-text">
        <button mat-button class="fs-10" *ngFor="let action of actionButtons">
          <mat-icon class="fs-24 mr-1">{{action.icon}}</mat-icon>
          {{action.title}}
        </button>
      </div>
    </div>

    <mat-divider class="mb-3"></mat-divider>

    <mat-chip-list>
      <mat-chip color="accent" selected class="primary-border" *ngFor="let sermonTag of sermon?.sermon_tags">
        {{sermonTag.tag.value}}
      </mat-chip>
    </mat-chip-list>
  </div>
</div>
