@import 'libs/theme/main';

.back-arrow-position {
  position: fixed;
}

@media only screen and (max-width: 1252px) {

  .back-arrow-position {
    position: static;
    padding-top: 15px;
  }
}

.mat-standard-chip {
  min-height: 30px;
}

.mw-38 {
  min-width: 38px;
}

mat-card-title {
  line-height: 1.5;
}

mat-divider {
  border-top-color: $text-base;
}
