<button mat-icon-button>
  <mat-icon class="back-arrow" color="accent">arrow_back</mat-icon>
</button>
ANother Test
<div class="container">
  <div class="d-flex justify-content-center">
    <iframe
      src="https://player.vimeo.com/video/375272866"
      width="1200"
      height="600"
      frameborder="0"
      title="The Power Of One"
      webkitallowfullscreen
      mozallowfullscreen
      allowfullscreen
    ></iframe>
  </div>
</div>

<div class="container mt-2">
  <div class="d-flex flex-column align-items-start">
    <mat-card-title style="color: #34587c;">
      The Power Of One
    </mat-card-title>
  </div>
</div>

<div class="container">
  <div class="d-flex justify-content-between">
    <div class="align-self-center">
      <mat-card-subtitle class="fs-16">
        Ron Peterson | Nov 24, 2019
      </mat-card-subtitle>
    </div>

    <div class="align-self-end" style="color: #7b7b7b;">
      <button mat-button>
        <mat-icon>cloud_download</mat-icon>
        SAVE
      </button>
      <button mat-button>
        <mat-icon>graphic_eq</mat-icon>
        LISTEN
      </button>
      <button mat-button>
        <mat-icon>speaker_notes</mat-icon>
        NOTES
      </button>
    </div>
  </div>

  <mat-divider class="mb-3"></mat-divider>

  <mat-chip-list>
    <mat-chip color="accent" selected class="primary-border">
      TAG
    </mat-chip>
    <mat-chip color="accent" selected class="primary-border">
      TAG
    </mat-chip>
    <mat-chip color="accent" selected class="primary-border">
      TAG
    </mat-chip>
  </mat-chip-list>
</div>
