<div class="container">
  <div class="d-flex justify-content-center">
    <iframe
      src="https://player.vimeo.com/video/375272866"
      width="1000"
      height="600"
      frameborder="0"
      title="The Power Of One"
      webkitallowfullscreen
      mozallowfullscreen
      allowfullscreen
    ></iframe>
  </div>
</div>

<div class="container">
  <div class="d-flex justify-content-between">
    <div>
      <h3>Sermon Title</h3>
      <p>Name | Date</p>
    </div>

    <div class="align-self-end">
      <button mat-button>
        <mat-icon>cloud_download</mat-icon>
        SAVE
      </button>
      <button mat-button>
        <mat-icon>graphic_eq</mat-icon>
        LISTEN
      </button>
      <button mat-button>
        <mat-icon>speaker_notes</mat-icon>
        NOTES
      </button>
    </div>
  </div>

  <mat-divider class="mb-3"></mat-divider>

  <mat-chip-list>
    <mat-chip color="accent" selected class="primary-border">
      TAG
    </mat-chip>
    <mat-chip color="accent" selected class="primary-border">
      TAG
    </mat-chip>
    <mat-chip color="accent" selected class="primary-border">
      TAG
    </mat-chip>
  </mat-chip-list>
</div>
