<!-- <div *ngIf="sermon$ | async as sermon"> -->
<button mat-icon-button (click)="goBack()">
  <mat-icon class="back-arrow" color="accent">arrow_back</mat-icon>
</button>

<div class="container-fluid">
  <div class="d-flex justify-content-center">
    <iframe
      src="https://player.vimeo.com/video/375272866"
      width="100%"
      height="625"
      frameborder="0"
      title="The Power Of One"
      webkitallowfullscreen
      mozallowfullscreen
      allowfullscreen
    ></iframe>
  </div>
</div>

<div class="container">
  <div class="d-flex flex-column align-items-start">
    <mat-card-title class="primary title-text">
      The Power of One
    </mat-card-title>
  </div>
</div>

<div class="container">
  <div class="d-flex justify-content-between">
    <div class="align-self-center">
      <mat-card-subtitle class="d-flex justify-content-between fs-16 m-0 bolder-text">
        Ron Peterson <span class="dark-line"> | </span> Nov 24, 2019
      </mat-card-subtitle>
    </div>

    <div class="align-self-end icon-color">
      <button mat-button class="fs-14">
        <mat-icon>cloud_download</mat-icon>
        SAVE
      </button>
      <button mat-button class="fs-14">
        <mat-icon>graphic_eq</mat-icon>
        LISTEN
      </button>
      <button mat-button class="fs-14">
        <mat-icon>speaker_notes</mat-icon>
        NOTES
      </button>
    </div>
  </div>

  <mat-divider class="mb-3"></mat-divider>

  <mat-chip-list>
    <mat-chip color="accent" selected class="primary-border">
      TAG
    </mat-chip>
    <mat-chip color="accent" selected class="primary-border">
      TAG
    </mat-chip>
    <mat-chip color="accent" selected class="primary-border">
      TAG
    </mat-chip>
  </mat-chip-list>
</div>
<!-- </div> -->
