@import 'libs/theme/main';

.back-arrow {
  font-size: 55px;
  font-weight: bold;
  margin: 40px 0 0 5px;
}

.mat-standard-chip {
  min-height: 30px;
}

mat-card-title {
  line-height: 1.5;
}

mat-divider {
  border-top-color: $text-base;
}
